.profile-container {
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

.profile-image {
    margin: 30px auto;
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.social {
    height: 50px;
}

.icon-button {
    cursor: pointer;
    margin: 5px;
    font-size: 2em;
}