#about-page-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#about-image-container {
  width: 80%;
  padding-top: 80%;
  border-radius: 50%;
  margin: 40px auto;
  overflow: hidden;
  position: relative;

  -webkit-transition: border-radius 0.5s ease-in-out;
  -moz-transition: border-radius 0.5s ease-in-out;
  -o-transition: border-radius 0.5s ease-in-out;
  transition: border-radius 0.5s ease-in-out;
}

#about-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  vertical-align: middle;
}

#about-page {
  width: 80%;
  display: inline-block;
  margin: 0 5%;
  color: white;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
}

#about-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

#about-intro {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
}

#about-statement {
  font-size: 18px;
}

#finance-js-project {
  box-shadow: 0 0 1px #61CA53;
}
#finance-js-project:hover {
  box-shadow: 0 0 20px #61CA53;
}

#reservation-project {
  box-shadow: 0 0 1px #00AFF3;
}
#reservation-project:hover {
  box-shadow: 0 0 20px #00AFF3;
}

.about-project {
  position:relative;
  width: 80%;
  padding-bottom: 80%;
  max-width: 450px;
  max-height: 450px;
  
  border-radius: 15px;
  overflow: hidden;
  margin: 40px auto;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-project-image {
  cursor: pointer;
  position:absolute;
  left:0;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.about-project:hover {
  transform: scale(1.05, 1.05);
}

.about-project img.top:hover {
  opacity:0;
}
.about-project img.top:focus {
  opacity:0;
}

p {
  margin: 0;
  padding: 0;
}


@media (min-width: 400px) {
  #about-intro {
    font-size: 30px;
  }

  #about-image-container {
    display: inline-block;
    border-radius: 0;
    width: 80%;
    height: auto;
    padding-top: 0;
  }

  #about-image {
    position: static;
    width: 100%;
    height: 100%;
  }

  .about-project {
    display: inline-block;
    width: 40%;
    padding-bottom: 40%;
    margin: 40px 15px;
  }
}

@media (min-width: 1000px) {
  #about-statement {
    font-size: 26px;
  }

  #about-page {
    font-size: 18px;
  }
}