
#about-page {
  width: 60%;
  display: inline-block;
  margin: 0 5%;
  color: white;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
}

#about-image {
  display: inline-block;
  width: 500px;
  margin: 0;
}

#about-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

#about-intro {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
}

#about-statement {
  font-size: 18px;
}

p {
  margin: 0;
  padding: 0;
}


@media(min-width: 850px) {
  #about-page {
    font-size: 18px;
  }
}