
.main {
  transition: margin-left .5s;
  background-color: #282c34;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sidebar {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  overflow-y: auto;
}

.back-button {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.no-animation {
  height: 100%;
}

@media (min-width: 850px) {
  .main {
    left: 400px;
  }

  .sidebar {
    width: 400px;
  }
}