#overview {
    height: 100%;
    overflow-y: auto;
}

#overview-title {
    font-size: 30px;
}

#statement {
    margin: 0 5%;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#skill-title {
    color: white;
    padding: 20px;
    font-size: 25px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

#skills-section {
    display: inline-block;
    width: 100%;
    height: auto;
}

#other-skills-section {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#other-skills-section .box {
    width: 50%;
}

@media (min-width: 850px) and (max-width: 1000px) {
    #other-skills-section .box {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 850px) {
    #other-skills-section .box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    #other-skills-section .box {
        width: 100%;
    }
}