#overview {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#overview-title {
}

#statement {
    margin: 0 5%;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#skill-title {
    color: white;
    padding: 20px;
    font-size: 40px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

#skills-section {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 25px 0;
}