.carousel-parent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
}

.carousel-content {
  height: 100%;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.carousel-content-child {
  margin-bottom: 50px;
}

.carousel-kebab-container-vertical {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  z-index: 2;
}

.carousel-kebab-container-horizontal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  z-index: 2;
}

.carousel-up-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.carousel-down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
}

.carousel-right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
}

.carousel-chevron {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
  filter:drop-shadow(0px 0px 1px rgb(53, 53, 53));
}

button {
  background-color: transparent;
}