.experience-container {
    background: white;
    max-width: 1000px;
    border-radius: 4px;
    margin: 20px auto;
}

.experience-info {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    text-align: left;
}

.experience-title-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 72px;
}

.experience-icon {
    display: inline-block;
    padding: 5px;
}

.experience-icon img {
    width: 45px;
    height: 45px;
}
.experience-description {
    position: absolute;
    left: 65px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.experience-title {
    display: block;
    font-size: 12px;
    margin: auto 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.experience-company {
    font-size: 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.experience-duration {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    margin: 8px 0;
}

.vertical {
    float: left;
    border-left: 1px solid;
    height: 50px;
}

.experience-years {
    float: right;
    font-size: 10px;
    line-height: 50px;
    width: 70px;
    margin: auto 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.experience-summary {
    font-size: 12px;
    display: inline-block;
    text-align: left;
    margin: 75px 15px 15px 15px;
}

@media(min-width: 850px) {
    .vertical {
        border-left: 2px solid;
    }

    .experience-years {
        font-size: 14px;
        width: 100px;
    }

    .experience-company {
        font-size: 14px;
    }

    .experience-title {
        font-size: 16px;
    }

    .experience-summary {
        font-size: 14px;
    }

    .experience-duration {
        width: 120px;
    }
}