body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: white;
  font-size: 30px;
  padding: 30px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.work-experience {
  margin: 15px 10%;
}

.animateTransitionUp {
  animation: pageTransitionUp 0.5s;
}

@keyframes pageTransitionUp {
  from { transform: translate(0, 100%); }
  to { transform: translate(0, 0); }
}

.animateLeaveUp {
  animation: pageLeaveUp 0.5s;
}

@keyframes pageLeaveUp {
  from { transform: translate(0, 0); }
  to { transform: translate(0, -100%); }
}

.animateTransitionDown {
  animation: pageTransitionDown 0.5s;
}

@keyframes pageTransitionDown {
  from { transform: translate(0, -100%); }
  to { transform: translate(0, 0); }
}

.animateLeaveDown {
  animation: pageLeaveDown 0.5s;
}

@keyframes pageLeaveDown {
  from { transform: translate(0, 0); }
  to { transform: translate(0, 100%); }
}

/* 
  I am using the global stylesheet for color themes. The general structure and formatting is done on a component level
*/


.sidebar-item {
  background-color: white;
  color: black;
}
.sidebar-item:hover {
  background-color: gray;
  color: white;
}
.sidebar-item:focus {
  background-color: #282c34;
  color: white;
}

.profile-info {
  color: #282c34;
}

.icon {
  color: #282c34;
}

.vertical {
  border-color: #282c34;
}