body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: white;
  font-size: 30px;
  padding: 30px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.work-experience {
  text-align: left;
  margin: 15px 10%;
}

.work-experience-title {
}

.work-experience-description {
}

.generic-page {
  width: 100%;
}

.leave-transition {
  z-index: -1;
  transition: cardUnder 0.5s forwards;
}

.link {
  cursor: pointer;
  text-decoration:underline;
}

@keyframes cardUnder {
  0% {  }
  100% { 
    display: none;
    overflow: hidden;
    visibility: hidden;
    height: 0
  }
}

.animateTransitionLeft {
  overflow-x: hidden;
  animation: pageTransitionLeft 0.5s;
}

@keyframes pageTransitionLeft {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); }
}

.animateTransitionRight {
  overflow-x: hidden;
  animation: pageTransitionRight 0.5s;
}

@keyframes pageTransitionRight {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(0, 0); }
}

.animateTransitionUp {
  height: 100%;
  animation: pageTransitionUp 0.5s;
}

@keyframes pageTransitionUp {
  0% { transform: translate(0, 100vh); }
  100% { transform: translate(0, 0); }
}

.animateTransitionDown {
  overflow: hidden!important;
  height: 100%;
  animation: pageTransitionDown 0.5s;
}

@keyframes pageTransitionDown {
  from { 
    height: 200vh;
    transform: translate(0, -100vh); 
  }
  to { 
    height: 100%; 
    transform: translate(0, 0); 
  }
}

/* 
  I am using the global stylesheet for color themes. The general structure and formatting is done on a component level
*/


.sidebar-item {
  background-color: white;
  color: black;
}
.sidebar-item:hover {
  background-color: gray;
  color: white;
}
.sidebar-item:focus {
  background-color: #282c34;
  color: white;
}
.active {
  background-color: #282c34;
  color: white!important;
}


.profile-info {
  color: #282c34;
}

.icon-button {
  color: #282c34;
  transition: 0.3s;
}
.icon-button:hover {
  color: gray;
}

.vertical {
  border-color: #282c34;
}

.carousel-chevron {
  color: white;
}
.carousel-chevron:hover {
  color: #545558;
}
.carousel-chevron:focus {
  color: #33353a;
}