body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: white;
  font-size: 50px;
  padding: 30px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

/* 
  I am using the global stylesheet for color themes. The general structure and formatting is done on a component level
*/

.sidebar-item {
  background-color: white;
  color: black;
}
.sidebar-item:hover {
  background-color: gray;
  color: white;
}
.sidebar-item:focus {
  background-color: #282c34;
  color: white;
}

.profile-info {
  color: #282c34;
}

.icon {
  color: #282c34;
}

.vertical {
  border-color: #282c34;
}